:root{
    --div-height : 85vh;
    --bg-size : 100% 100%;
} 
.center_div .top_div{
    height: calc(var(--div-height) - 40vh);
    background-size: var(--bg-size);
    border-radius: 12px;
}
.center_div .bottom_first_div{
    height: calc(var(--div-height) - 50vh);
    background-size: var(--bg-size);
    border-radius: 12px;
}
.center_div .bottom_sec_div{
    height: calc(var(--div-height) - 30vh);
    background-size: var(--bg-size);
    border-radius: 12px;
    
}
.center_div .top_div:first-child {
    background-image: url('https://images2.minutemediacdn.com/image/upload/c_fit,f_auto,fl_lossy,q_auto,w_728/v1573227040/shape/mentalfloss/69737-gettyimages-1008225984.jpg?itok=Q2WjvvZ7');
    
}
.center_div .top_div:last-child{
    background-image: url('https://www3.pictures.zimbio.com/mp/wwj1hrnad01x.jpg');
    padding: 20px;
}
.center_div .bottom_sec_div:first-child{
    background-image: url('https://b.zmtcdn.com/data/pictures/9/3600009/ba50a5176f9b3abf84a4b734543474a2.jpg?fit=around|771.75:416.25&crop=771.75:416.25;*,*');
    
}
.center_div .bottom_sec_div:last-child{
    background-image: url('https://img.buzzfeed.com/thumbnailer-prod-us-east-1/video-api/assets/216054.jpg');
    
}
.center_div .bottom_first_div{
    background-image: url('https://duhocue.edu.vn/public/uploads/images/hinh-tin-tuc/Bạn-có-là-một-sinh-viên-nghiện-fast-food-(1).jpg');
    
}
.row{
    padding:20px;
}















